html,body{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	overflow: hidden;
	font-family: 微软雅黑;
	cursor: default;
}

ul,li,h1{
	margin: 0px;
	padding: 0;
	list-style: none;
}

a{
	text-decoration: none;/*去掉下划线*/
	color: #555;
}

/*遮挡幕布*/
.curtain{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #40403D;
	text-align: center;
	font-size: 30px;
	opacity:0.95;
	color: white;
	z-index: 10000;
	display: block;
}

/*选择导航*/
#selectNav{
	width: 44px;
	height: 44px;
	position: absolute;
	background-size: 100% 100%;
	background : url("../image/move.png");
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	top: 80px;
	left: 10px;
	cursor: pointer;
	animation: rotating 3s linear infinite;
	z-index: 100;
}

#selectNav:hover{
	animation: rotating 0s
}

/*旋转音乐符号*/
#audio-btn{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 44px;
	height: 44px; 
	background-size: 100% 100%;
	cursor: pointer;
	z-index: 100;
}

.on{
 	background: url("../image/music_on.png") no-repeat 0 0;
 	-webkit-animation: rotating 1.2s linear infinite;
 	animation: rotating 1.2s linear infinite;
}
.off{
 	background: url("../image/music_off.png") no-repeat 0 0;
}

 @keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* 碰撞导航 */

.playNav{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 1000;
	display: block;
	background-size: 100% 100%;
	cursor:pointer;
	opacity: 0.3;
	transition: opacity 1s ease-in-out;
}

.playNav:hover{
	opacity: 1;
}

#playnav-panel-1{
	
	background-image: url(../image/page1.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#playnav-panel-1:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#playnav-panel-2{
	
	background-image: url(../image/page2.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#playnav-panel-2:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#playnav-panel-3{
	
	background-image: url(../image/page3.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#playnav-panel-3:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#playnav-panel-4{
	
	background-image: url(../image/page4.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#playnav-panel-4:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

/*滑动导航*/
.nav{
	position: absolute;
	float:right;
	right: 20px;
	z-index:100;
	border-radius: 30px 30px 0 0;
	width: 150px;
	height: 320px;
	overflow: hidden;
	display: none;
}

.nav-item{
	cursor:pointer;
	width: 150px;
	height: 100px;
	margin-bottom: 10px;
	border-radius: 50%;
	z-index: 200;
	display: block;
	background-size: 100% 100%;
}

@keyframes navItem{
	from{transform:rotateY(180deg);}
	to{transform:rotateY(0deg);}
}

@-webkit-keyframes navItem{
	from{transform:rotateY(180deg);}
	to{transform:rotateY(0deg);}
}

@-moz-keyframes navItem{
	from{transform:rotateY(180deg);}
	to{transform:rotateY(0deg);}
}

@keyframes navItemHover{
	from{transform:rotateY(0deg);}
	to{transform:rotateY(180deg);}
}

@-webkit-keyframes navItemHover{
	from{transform:rotateY(0deg);}
	to{transform:rotateY(180deg);}
}

@-moz-keyframes navItemHover{
	from{transform:rotateY(0deg);}
	to{transform:rotateY(180deg);}
}

#nav-panel-1{
	background-image: url(../image/page1.png);

	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav-panel-1:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#nav-panel-2{
	background-image: url(../image/page2.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav-panel-2:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}


#nav-panel-3{
	background-image: url(../image/page3.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav-panel-3:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}


#nav-panel-4{
	background-image: url(../image/page4.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav-panel-4:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}


#nav2-panel-1{
	background-image: url(../image/page1.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav2-panel-1:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}


#nav2-panel-2{
	background-image: url(../image/page2.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav2-panel-2:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#nav2-panel-3{
	background-image: url(../image/page3.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav2-panel-3:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#nav2-panel-4{
	background-image: url(../image/page4.png);
	background-position: center;
	animation:navItem 1s;
	-webkit-animation:navItem 1s;
}

#nav2-panel-4:hover{
	animation:navItemHover 1s ease 0s alternate none infinite;
	-webkit-animation:navItemHover 1s ease 0s alternate none infinite;
}

#downward{
	position: absolute;
	width: 50px;
	height: 70px;
	opacity: 0.5;
	cursor: pointer;
	z-index: 100;
}

#down1{
	margin-bottom: -7px;
	width: 50px;
	height: 25px;
	background-image: url(../image/down1.png);
}

#down2{
	margin-bottom: -7px;
	width: 50px;
	height: 25px;
	background-image: url(../image/down2.png);
}

#down3{
	width: 50px;
	height: 25px;
	background-image: url(../image/down3.png);
}

.section,
.scroll{
	position:relative;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
}

#page-1{
	
	/*background: #e5eff3;*/



	/*background:#b6b6b6;*/

	background:#b3e5fc;
}

#page-2{
	/*background: #cfd8dc;*/



	/*background: #c5cae9;*/

	background: #03a9f4;
}

#page-3{
	/*background: #607d8b;*/


	background: #3f51b5;
}

#page-4{
	/*background: #455a64;*/


	background: #303f9f;
}

/*page1中的元素样式*/

.border{
	width: 180px;
	height: 180px;
	margin-left: auto;
	margin-right: auto;
	border: 6px solid #3A7DCC;
	border-style: dotted;
	position: relative;
	left: -6px;
	top: -6px;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;

	-webkit-animation: rotating 6s linear infinite;
	-moz-animation: rotating 6s linear infinite;
	-ms-animation: rotating 6s linear infinite;
	-o-animation: rotating 6s linear infinite;
	animation: rotating 6s linear infinite;
}

.headPicture{
	width: 180px;
	height: 180px;
	background-image: url(../image/miaoqiang.jpg);
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 80px;
	margin-bottom: 100px;

	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.name{
	width: auto;
	text-align: center;
	color: #2770BD;
}

.job{
	width: auto;
	color: #5F7C8A;
	text-align: center;
	margin:0;
}

.intro{
	width: 600px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	color: #303f9f;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	cursor: default;
}

/*page2中的元素样式*/

/*技能字体*/
@font-face {font-family: 'iconfont';
    src: url('../js/iconfont.eot'); /* IE9*/
    src: url('../js/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../js/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../js/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../js/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}

.skillIcon{
	width: 100px;
	height: 80px;
	margin:0 auto;
	font-size: 70px;
	text-align: center;
	position: relative;
	top: 50px;
	color: #3F51B5;
	animation:navItemHover 1s ease 0s alternate none infinite;
}

.skillIntro{
	width: 600px;
	height: 150px;
	margin-top: 80px;
	padding: 0px;
	overflow: hidden;
	
}

.contentAll{
	position: relative;
	width: 3100px;
	height: 150px;
	left: 0px;
	transition: all 0.5s ease-in-out;
}

.skillContent{
	width: 590px;
	height: 150px;
	display: inline-block;
	padding-left: 10px;
	padding-top: 5px;
	color: #09254C;
	margin-top: 0px;
	overflow: hidden;
}

#train{
	width: 1200px;
	height: 300px;
	position: relative;
	top: -20px;
	left: -980px;
	background-image: url(../image/train.png);
}

@keyframes smokeMove{
	from{top: 300px;
		 width: 50px;
		 height: 50px;
		 opacity: 0.8;
		 display: block;
		}
	to{
		top: 0px;
		width: 100px;
		height: 100px;
		opacity: 0;
		display: none;
	}
}

.smoke{
	width: 50px;
	height: 50px;
	top: -1000px;
	left: 100px;
	position: absolute;
	background-image: url(../image/smoke1.png);
	background-size: 100% 100%;

	animation: smokeMove 2s linear ;
}

.iconH5{
	margin-left: 75px;
}

.iconC3{
	margin-left: 265px;
}

.iconJQ{
	margin-left: 457px;
}

.iconJa{
	margin-left: 650px;
}

.iconMy{
	margin-left: 850px;
}

.trainIcon{
	position: absolute;
	color: #303F9F;
	top: 43px;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	display: inline-block;
	font-size: 70px;
	margin-right: 120px;
	cursor: default;

	transition: font-size 0.3s,color 0.3s;
}

.trainIcon:hover{
	font-size: 80px;
	color: #FE9700;
	
}

.b{
	border: 1px solid white;
}

.wheel{
	width: 50px;
	height: 50px;
	position: relative;
	display: inline-block;
	top: 225px;
	left: 25px;
	background-image: url(../image/wheel2.png);
	background-size: 100% 100%;
	margin-right: 44px;
	
}

.rotate{
	animation: rotating 1s linear infinite;
}

#headWheel1{
	margin-left: -20px;
	margin-right: 0px;
}

#headWheel2{
	margin-left: -5px;
	margin-right: 0px;
}

#headWheel3{
	width: 30px;
	height: 30px;

	margin-left: -2px;
	margin-right: 0px;
	background-size: 100% 100%;
	background-image: url(../image/wheel.png);
}

#headWheel4{
	width: 30px;
	height: 30px;
	margin-left: -5px;
	background-size: 100% 100%;
	background-image: url(../image/wheel.png);
}

/*第三页*/
.project{
	color: #B3E5FC;
	display: block;
}


/*.in{
	width: 160px;
	height: 160px;
	border: 2px solid white;
	margin: auto;
	margin-top: 8px;
	border-top-color: transparent;
	border-right-color: transparent;
	display: none;
}*/

.borderTop{
	width: 0px;
	height: 0px;
	position: absolute;
	border-top: 2px solid white;
	left: 0px;
	cursor: pointer;
	top: 280px;
	transition:all 0.5s ease;
}

.borderTopHover{
	width: 354px;
	left: 506px;
}

.borderBottom{
	width: 0px;
	height: 50px;
	position: absolute;
	border-top: 2px solid white;
	right: 0px;
	cursor: pointer;
	top: 442px;
	transition:all 0.5s ease;
}

.borderBottomHover{
	width: 354px;
	right: 506px;
}

.borderRight{
	position: absolute;
	width: 0px;
	height: 0px;
	top: 0px;
	left: 858px;
	border-right: 2px solid white;
	transition:all 0.5s ease;
}

.borderRightHover{
	height: 164px;
	top: 280px;
}

.borderLeft{
	position: absolute;
	width: 0px;
	height: 0px;
	top: 640px;
	/*top: 280px;*/
	left: 506px;
	cursor: pointer;
	border-right: 2px solid white;
	transition:all 0.5s ease;
}

.borderLeftHover{
	height: 164px;
	top: 280px;
}

.title{
	width: 350px;
	height: 160px;
	border: 2px solid white;
	border-color:transparent;
	margin: auto;
	margin-top: 200px;
	background-color: none;
	transition:all 0.5s linear;
	border-radius: 50% 50%;
	cursor: pointer;
}

.titleHover{
	background-color: white;
}

@keyframes golds{
	0%{
		font-size: 40px;
		opacity: 0.4;
	}
	50%{
		font-size: 70px;
		opacity: 1;
	}
	100%{
		font-size: 40px;
		opacity:0.4;
	}
}

#proIcon{
	font-size: 40px;
	color: #FCFD02;
	text-align: center;
	line-height: 40px;
	float:left;
	width: 70px;
	height: 40px;
	margin-left: 140px;
	margin-top: 30px;
	display: block;
	/*border: 1px solid white;*/
	cursor:pointer;
	animation: golds 2s linear infinite;
}

#proTitle{
	font-size: 22px;
	color: white;
	width: 200px;
	margin: 0 auto;
	margin-top:90px;
	display: block;
	text-align:center;
	cursor: pointer;
}

@keyframes proRotateX{
	from{
		transform:perspective(500px) rotateX(0deg); 
	} 
	to{transform:perspective(500px) rotateX(360deg);
	}
}

.proBackgroudn{
	width: 100%;
	/*height: 490px;*/
	position: absolute;
	top: 150px;
	display: none;
}

.proContent{
	width: 10%;
	height: 3px;
	position: relative;
	top: 485px;
	margin: 0 auto;
	/*background-color: white;*/
	border: 1px solid red;
	border-color: transparent;
	transition: width 1s linear, top 1s linear,height 1s linear;
}

.proContentHover{
	top: 0px;
	height:400px;
	background-color: #B3E5FC;
	animation: proRotateX 2s ease 0s alternate none;
	border-radius: 10px;
}

.projectName{
	text-align: center;
	margin-top: 30px;
}

.proUl{
	margin-top: 30px;
}

.proLi{
	float: left;
	width: 20%;
	margin-left: 4%;
}

.proH3{
	text-align: center;
}

.proP{
	padding: 0 10px;
}

.ed{
	color: #03A9F4;
	display: block;
}

.university{
	margin-top: 100px;
	color: #B3E5FC;
	text-align: center;
}

.education{
	text-align: center;
	color: #C1C6E2;
}

.email{
	width: 100%;
	height: 50px;
	display: block;
	background-color: red;
	margin-top: 100px;
	line-height: 50px;
	font-size: 50px;
	color: white;
	text-align: center;
	transition: all 0.3s linear;
}

.email:hover{
	font-size: 65px;
	color: yellow;
}

.qq{
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
	color: white;
	font-size: 30px;
	text-align: center;
	line-height:50px;
	transition: all 0.3s linear;
}

.qq:hover{
	font-size:50px;
	color:yellow;
}
